{
  "rules":{
    "no-console": 0,
    // Inherited from airbnb via eslint-config-amo
  },
  "env": {
    "node": true,
    "browser": true,
    "es6": true,
  },
  "extends": "amo",
  "parser": "babel-eslint",
  "plugins": [
    "async-await"
  ],
  "settings": {
    "async-await/space-after-async": 2,
    "async-await/space-after-await": 2,
    "import/resolver": {
      "node": {
        // This adds ./src for relative imports.
        "moduleDirectory": ["node_modules", "src"]
      }
    }
  }
}
