scripts/download-import-tag
scripts/list-firefox-tags
scripts/run-l10n-extraction
scripts/webext-test-functional
scripts/smoke-test-eslint-version-conflicts
dist
coverage
tests/fixtures/**
tests/**/*.json
src/schema/imported/index.js
locale/
tests/fixtures/fr.js
tests/fixtures/ja.js
tests/fixtures/de.js
