{
  "rules":{
    "no-console": 0,
    // Inherited from airbnb via eslint-config-amo
    'function-paren-newline': 0,
  },
  "env": {
    "node": true,
    "browser": true,
    "es6": true,
  },
  "extends": "amo",
  "parser": "babel-eslint",
  "settings": {
    "import/resolver": {
      "node": {
        // This adds ./src for relative imports.
        "moduleDirectory": ["node_modules", "src"]
      }
    }
  }
}
