{
  "rules": {
    // This project uses `console.log()`.
    "no-console": "off",
    "amo/i18n-no-tagged-templates": "error",
  },
  "env": {
    "node": true,
    "browser": true,
    "es6": true,
  },
  "plugins": ["amo"],
  "extends": ["amo/base"],
  "parser": "@babel/eslint-parser",
  "settings": {
    "import/resolver": {
      "node": {
        // This adds ./src and ./vendor for relative imports.
        "moduleDirectory": ["node_modules", "src", "vendor"]
      }
    }
  }
}
