# Exclude everything by default.
*

# Only include in the released npm package the following globs.
!package.json
!LICENSE
!README.md
!bin/addons-linter
!dist/addons-linter.*
!dist/locale/**
!dist/rules/**
