# exclude everything by default
*.*

# exclude these files
scripts/download-import-tag
scripts/list-firefox-tags
scripts/run-l10n-extraction
scripts/webext-test-functional
scripts/smoke-test-eslint-version-conflicts
package-lock.json
LICENSE

# exclude these directories
/tmp/
/dist/
/locale/
/node_modules/
/tests/fixtures/
/coverage/
/vendor/

# allow-list of files we want to process
!*.js
!*.md
