{
  "arrowParens": "always",
  "singleQuote": true,
  "trailingComma": "all",
  "proseWrap": "never",
  "overrides": [
    {
      "files": "bin/*",
      "options": {
        "parser": "babylon"
      }
    }
  ]
}
