{
  "arrowParens": "always",
  "singleQuote": true,
  "trailingComma": "es5",
  "proseWrap": "never",
  "overrides": [
    {
      "files": "bin/*",
      "options": {
        "parser": "babel"
      }
    },
    {
      "files": "scripts/*",
      "options": {
        "parser": "babel"
      }
    },
    {
      "files": "*.md",
      "options": {
        "proseWrap": "preserve"
      }
    }
  ]
}
