# exclude everything by default
*.*

# exclude these files
package-lock.json
scripts/download-import-tag
scripts/list-firefox-tags
scripts/run-l10n-extraction
scripts/smoke-test-eslint-version-conflicts
scripts/webext-test-functional
src/schema/imported/LICENSE-CHROMIUM
LICENSE

# exclude these directories
/tmp/
/dist/
/locale/
/node_modules/
/tests/fixtures/
/coverage/
/vendor/

# allow-list of files we want to process
!*.js
!*.md
