{
  "env": {
    "jest": true,
    "jest/globals": true,
  },
  "extends": [
    "plugin:promise/recommended",
  ],
  "globals": {
    "assert": true,
    "sinon": true,
  },
  "plugins": [
    "jest",
    "promise",
  ],
  "rules": {
    "import/no-extraneous-dependencies": ["error", {
      // Allow dev-dependencies in this directory.
      "devDependencies": true
    }],
    "jest/expect-expect": ["warn", {
      // Allow Jest or Sinon assertions
      "assertFunctionNames": ["expect", "sinon.assert.*"]
    }],
    "promise/always-return": "off",
    "promise/avoid-new": "off",
    "promise/no-nesting": "off",
  },
}
